body {
  margin: 0;
  padding: 0;
  background-color: #dddd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hourBtn {
  width: 110px;
  height: 110px;
  background-color: green;
}

.time {
  margin-right: -20px;
}

button.booked-false:hover {
  background-color: lightseagreen;
}

button.booked-true:hover {
  background-color: red;
}

button.booked-false {
  background-color: lightseagreen;
  border-color: lightseagreen;
}

button.booked-true {
  background-color: red;
  border-color: red;
}



